%checkbox_base {
  -webkit-appearance: none;
  appearance: none;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  cursor: pointer;
  margin: 0;

  &:disabled {
    opacity: 0.3;
    background-color: var(--color-gray-300);
    cursor: not-allowed;
  }
}

.checkbox {
  display: flex;

  .checkbox_input {
    @extend %checkbox_base;

    &.rounded {
      border-radius: 50%;
    }

    &:checked {
      background: var(--color-primary-700);
      position: relative;
      border: 1px solid rgba(202, 199, 255, 0.84);

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        width: 70%;
        height: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33398 3.33333L3.00065 5L6.66732 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .indeterminate {
    @extend %checkbox_base;

    background: var(--color-primary-700);
    position: relative;
    border: none;

    &.rounded {
      border-radius: 50%;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      width: 60%;
      height: 60%;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00024 1L1.00024 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
